p {
    color: red;
}

li {
    color: blue;
}

body {
    background-color: antiquewhite;
}

header {
    background-color: lightpink;
}
aside {
    background-color: cadetblue;
}
main {
    background-color: yellow;
}
footer {
    background-color: #232323;
    color: darkgray;
}