p {
    color: red;
}

li {
    color: blue;
}

li:nth-child(2) {
    width: 100px;
    height: 100px;
}

/* ---- Layout ---- */

body {
    background-color: antiquewhite;
}

header {
    background-color: lightpink;
}
aside {
    background-color: cadetblue;
}
main {
    background-color: yellow;
}
footer {
    background-color: #232323;
    color: darkgray;
}