div.stulpelis {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.eilute {
    clear: left;
}
.stulpelis {
    float: left;
}







.cele {
    border: 1px solid black;
}
.gridas {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px  100px  100px ;
}
